$font-main: 'Rubik', sans-serif;

$color-primary: #3FC68C;
$color-text: #2A3643;
$color-text-muted: #7D8596;
$color-text-light: #B4BAC7;

$wrapper: 1120px;

$font-18: 18px;
$font-14: 14px;
$font-12: 12px;